.portfolio__undertitle {
	color: #6D7D7D;
    padding-bottom: 46px;
    font-family: 'Kanit', sans-serif;
    font-weight: 300;
    font-size: 15px;
    letter-spacing: 0.2em;
}

.portfolio__header {
    position: relative;
    width: 400px;
    margin-bottom: 100px;
}

.portfolio__header> h1 {
  
  color: #fff;
  font-size: 40px;
  font-weight: 300;
 
}

.portfolio__header p {
    position: absolute;
    right: 50px;
    font-size: 20px;
    font-weight: 300;
    letter-spacing: .1em;
}

.portfolio__wrapper {
    display: flex;
	align-items: center;
	justify-content: center;
	height: 50vh;
	/* overflow: hidden; */
}

.portfolio__items {
    display: flex;
    z-index: 100;
	gap: 0.4rem;
    perspective: calc(var(--index) * 35);
}

.portfolio__item {
    width: calc(var(--index) * 3);
	height: calc(var(--index) * 12);

	background-color: #222;
	background-size: cover;
	background-position: center;
	cursor: pointer;

	/* Затемняем изображения */
	filter: grayscale(1) brightness(0.5);

    /* Указываем в каком порядке и за какое время будут происходить трансформации по ховеру */
	transition: transform 1.25s var(--transition), filter 3s var(--transition), width 1.25s var(--transition);

	/*
    CSS свойство will-change предоставляет автору возможность уведомить браузер об ожидаемом изменении элемента,
    таким образом браузер может настроить соответствующую оптимизацию до того как элемент действительно изменится.
    Такой тип оптимизации может повысить отзывчивость страницы,
    совершая, возможно дорогие операции до того как они действительно понадобятся.
    */
	will-change: transform, filter, rotateY, width;

}

.portfolio__items .portfolio__item:hover {
    /* Возвращаем цвет */
	filter: inherit;

    /* Трансформируем по Z оси. Благодаря ранее указанной перспективе на всем контейнере,
    изображение "увеличивается и уходит в сторону, эффект перспективы"*/
	transform: translateZ(calc(var(--index) * 10));
	/* transform: translateZ(300px); */
}

.portfolio__item::before,
.portfolio__item::after {
	content: '';
	position: absolute;
	height: 100%;
	width: var(--index);
	right: calc(var(--index) * -1);

    /* Для наглядности */
    /* background-color: red; */
}

.portfolio__item::after {
	left: calc(var(--index) * -1);
    /* background-color: green; */
}

/* 3. Трансформируем блоки справа от "активного" */

.portfolio__items .portfolio__item:hover + * {
	filter: inherit;
	transform: translateZ(calc(var(--index) * 8.5)) rotateY(35deg);
	z-index: -1;
}

/* Второй справа */
.portfolio__items .portfolio__item:hover + * + * {
	filter: inherit;
	transform: translateZ(calc(var(--index) * 5.6)) rotateY(40deg);
	z-index: -2;
}

/* Третий справа */
.portfolio__items .portfolio__item:hover + * + * + * {
	filter: inherit;
	transform: translateZ(calc(var(--index) * 2.5)) rotateY(30deg);
	z-index: -3;
}

/* Четвертый справа */
.portfolio__items .portfolio__item:hover + * + * + * + * {
	filter: inherit;
	transform: translateZ(calc(var(--index) * 0.6)) rotateY(15deg);
	z-index: -4;
}

/* 4. Трансформируем блоки слева от "активного" */

.portfolio__items .portfolio__item:has(+ :hover) {
	filter: inherit;
	transform: translateZ(calc(var(--index) * 8.5)) rotateY(-35deg);
}


/* Второй слева */
.portfolio__items .portfolio__item:has(+ * + :hover) {
	filter: inherit;
	transform: translateZ(calc(var(--index) * 5.6)) rotateY(-40deg);
}

/* Третий слева */
.portfolio__items .portfolio__item:has(+ * + * + :hover) {
	filter: inherit;
	transform: translateZ(calc(var(--index) * 2.5)) rotateY(-30deg);
}

/* Четвертый слева */
.portfolio__items .portfolio__item:has(+ * + * + * + :hover) {
	filter: inherit;
	transform: translateZ(calc(var(--index) * 0.6)) rotateY(-15deg);
}

/* Раскрываем активный блок по клику */
.portfolio__items .portfolio__item:active,
.portfolio__items .portfolio__item:focus {
	width: 28vw;
	filter: inherit;
	z-index: 100;
	transform: translateZ(calc(var(--index) * 10));
	margin: 0 0.45vw;
}
